
/* APP layout */

.App{
  display:grid;
  grid-template-rows:1fr 10fr ;
  height:100vh;
  width:100%;
  /* background-color: rgb(210, 211, 212); */
  
}


/* 1.Homepage layout for pc */

.homepage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  background-image: linear-gradient(144deg,#ffffff, #fdfcfc 50%,#bebdbd);
  margin-top: 0px;
}



/* 1.1 description*/
.description{
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description h1{
  font-size:5vh;
}
.p1{
  font-size:2.5vh;
}


/* 1.2 display picture layout */
.display-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:7vh;
}

.display-picture img{
  height:60vh;
  border-radius: 30px;
  box-shadow: 0 10px 11px rgba(0, 0, 0, 0.6);
}


/* 1'.Homepage layout for mobile phone */
@media screen and (max-width: 768px) {
  .homepage {
    display: flex;
    flex-direction: column;
  }

  .description{
    margin-bottom:10vh;
    margin-top:4vh;
    padding:4vh;
  }

  

}

/* 2.Navbar */
nav{
  background-image: linear-gradient(144deg,#040404, #414141 50%,#1f1e1e);

  display: grid;
  grid-template-columns:1fr 1fr;
  gap:10vw;
}

nav a{
  text-decoration: none;
  color:  rgb(226, 225, 225);
}

nav a:hover{
  
  color:  rgba(255, 255, 255, 0.567);
}

 .navigation{
  display: flex;
  justify-content: left;
  align-items: center;
  

  height: 6vh;
  color: rgb(255, 255, 255);
 }
 .navigation ul{
  display: flex;
  list-style: none;
  
 }
 .navigation ul li{
  margin-left:30px;
  font-weight: bold;
 }
 .navigation ul li:hover{

  color: rgba(240, 248, 255, 0.604);
 }


 .social-media{
  display: flex;
  justify-content: right;
  align-items: center;
  
  height: 6vh;
  color: rgb(243, 241, 239);
}

.social-media a{
  text-decoration: none;
  color: rgba(240, 248, 255, 0.809);
}
 .social-media a:hover{
  color: rgba(240, 248, 255, 0.494);
 }


/*3. work page */

.workPage-container a{
  text-decoration: none;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}



.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;
  
  overflow: hidden;
  box-shadow: 0 10px 11px rgba(0, 0, 0, 0.6);

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}



/* 4. About Page */

.AboutPageComponent{
  display: flex;
  flex-direction: column;
  gap:5vh;
}

.AboutPageComponent h1{
  font-size: 5vh;
}

.AboutPageComponent p{
  font-size:2.5vh;
  font-weight: 210;
  
}

.AboutPageComponent span{
  font-size:2.5vh;
  font-weight: 400;
}

/* 4.1 about */

.about-myself{
  color: white;
  margin-top: 0px;
  margin-right:2vw;
  margin-left:2vw;
  padding:3vw;
  box-shadow: 0 10px 11px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 20px;
}

/* 4.2 skills */
.skills{
  
  margin-right:2vw;
  margin-left:2vw;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  padding: 3vw;
  border-radius: 20px;
  box-shadow: 0 10px 11px rgba(0, 0, 0, 0.6);
}